@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import '@coreui/coreui/dist/css/coreui.min.css';

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    /*color-scheme: dark;*/
}

body {
    min-height: 100vh;
}

img, picture, video {
    display: block;
    max-width: 100%;
}

main {
 background: #dadada;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* PAGE HEADER */
.page-header {
    width: 100vw;
    background: #006992;
    padding: 0 calc((100vw - 1100px + 2rem) / 2);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 1.5rem;
    color: white;
}

.page-header {
    text-transform: uppercase;
    font-weight: bold;
}

/* CALCULATOR */

.section {
    margin-bottom: 2rem;
}

.section-heading{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.section .paragraph {
    color: #5d5d5d;
}

.calculator {

    color: #006992;
    max-width: 1100px;
    margin: 0 auto;
    background: #ffffff;
    min-height: calc(100vh - 3rem);
    padding: 6rem 1rem;
}

.calculator-form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.more-info-section p {
    color: #5d5d5d;
    margin-top: 1rem;
}

.calculator-form button {
    display: inline-block;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 4px;
    background: #006992;
    color: white;
}

.form-btn-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#clear-btn {
    background: white;
    color: #006992;

    font-size: 1.25rem;

    border: 2px solid #006992;
}

.form-field:not(:last-child) {
    display: flex;
    flex-direction: column;
}

.form-field input, .form-field select{
    max-width: 8rem;
}

.form-item:not(:last-child) {
    margin-right: 0.25rem;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0.75rem;
}

.form-fields h4 {
    margin-bottom: 1.5rem;
}

.form-fields input, .form-fields select {
    height: 2.25rem;
    border-radius: 4px;
    border: 1px solid #9a9a9a;
    min-width: 40px;
    font-weight: normal;
    font-size: 1rem;
    padding: 0 0.5rem;
}


.form-fields > div {
    border: 2px dotted #dadada;
    padding: 1rem 0.5rem;
}

@media screen and (min-width:568px) {
    .form-btn-container {
        gap: 1rem;
        flex-direction: row;
    }
}

@media screen and (min-width:768px) {
    .form-fields {
        flex-direction: row;
    }

    .form-field {
        width: 100rem;
    }
}

/* RESULTS */

.results-section {
    width: 90%;
}

.results-section input {
    border: none;
}
.results-section table {
    border-collapse: collapse;
}

.results-section td, .results-section th {
    border: 1px solid gray;
    padding: 1rem 1rem;
    color: black;
    text-align: center;
}


.results-section input {
    border: 1px solid black;
    width: 3rem;
    height: 2rem;
    text-align: center;
    border-radius: 4px;
    margin: 0;

}

@media screen and (min-width: 768px) {
    .more-info-section p {
    }
}



